* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
}

header{

    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left:40px ;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: beige;
    position: sticky;
    top: 0;
    left: 0;
""
}

ul{
    display: flex;
    gap: 10px;

    li{
        list-style: none;
        a{
            text-decoration: none;
            color: #202020;
            font-weight: 600;
            font-family: Georgia, 'Times New Roman', Times, serif;

        }
    }
}


.secao{
    min-height: 100vh;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}