*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #202020;
}
main{
    width: 100%;
    height: 500px;
    border: 1px solid red;
    position: relative;

}

.box{
    width: 50px;
    height: 50px;
    background-color: white;
}

#box1{
    position: absolute;
    background-color: red;
    bottom: 0;
    right: 0;
}

#box2{
    position: absolute;
    background-color: red;
    bottom: 0;
    left: 0;
}

#box3{
    position: absolute;
    background-color: red;
    top: 0;
    right: 0;

}

#box4{
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
}

#box5{
    position: absolute;
    background-color: red;
    bottom: calc(50% - 25px);
    left: calc(50% - 25px); 
}