* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    border: 10px solid rgb(98, 0, 255) ;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.box{
    width: 50px;
    height: 50px;
    background-color: rgb(62, 17, 146);

    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;

}

.little-box{
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 179);
}