*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    grid-template-areas: 
    "header header header header"
    "menu-l timeline timeline menu-r" 
    "menu-l timeline timeline menu-r" 
    "menu-l timeline timeline menu-r" 
  
    ;

}

#header{
    grid-area: header;
    background-color: red;
}
*
#menu-left{
    grid-area: menu-l;
    background-color: green;
}

#content{
    grid-area: timeline;
    background-color: yellow;
}

#menu-rigth{
    grid-area: menu-r;
    background-color: blue;
}