.sans-serif{
    font-family: sans-serif;
}

.ingredientes{
    background-color: rgba(0, 128, 32, 0.205);
    font-family: sans-serif;
    font-size: 24px;
}

.mododepreparo{
    background-color: rgba(0, 195, 255, 0.281);
    #texto{
        font-size: 50px;
    }
    h2{
        font-size: 48px;
        color: red;
        font-family: 'Times New Roman';

    }
    font-family: sans-serif ;
}